Exploratory Data Anaylsis - detect outliners and missing values, etc etc

Cover the basics with a toolkit of pandas and NumPy functions. 

Starting with df.describe() for the columns and df.describe(include="object"), int order to count: number of non-missing values, mean: average value, std: standard deviation, min, 25%, 50%, 75%, max: minimum, quartiles, maximum values.


***General EDA helpers in pandas/NumPy***

1.Overview: df.info(), df.describe(), df.describe(include='object')
2.Missingness: df.isna().sum(), df[col].isna().mean()
3.Unique categories: df[col].value_counts(), .nunique()
4.Group summaries: df.groupby(col)[num_col].agg(['mean','median','std','count'])
5.Correlation: df[cols].corr()
6.Outliers via IQR:

In [45]:
import pandas as pd 
import numpy as np
expeddf = pd.read_csv("himalayan_tidy/expeddf_tidy.csv", low_memory=False)
peaksdf = pd.read_csv("himalayan_tidy/peaksdf_tidy.csv", low_memory=False)

In [46]:
#for numerical columns
expeddf.describe()

,YEAR,SMTTIME,SMTDAYS,TOTDAYS,HIGHPOINT,CAMPS,ROPE,TOTMEMBERS,SMTMEMBERS,MDEATHS,TOTHIRED,SMTHIRED,HDEATHS,CHKSUM
count,11695.000000,5110.000000,11695.000000,11695.000000,11695.000000,11695.000000,11695.000000,11695.000000,11695.000000,11695.000000,11695.000000,11695.000000,11695.000000,1.169500e+04
mean,2003.595297,1071.545793,17.849423,19.010859,7090.093031,2.262078,169.043779,6.193159,2.082343,0.071569,3.285336,1.327832,0.029072,2.293356e+06
std,15.395808,395.088740,15.756560,17.661255,1823.845656,1.571013,664.039829,5.607392,3.203781,0.366772,5.814259,3.121768,0.273090,6.462327e+05
min,1905.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.015000e+03
25%,1996.000000,820.000000,5.000000,0.000000,6550.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.452972e+06
50%,2007.000000,1045.000000,15.000000,16.000000,7200.000000,2.000000,0.000000,5.000000,1.000000,0.000000,2.000000,0.000000,0.000000,2.458464e+06
75%,2014.000000,1300.000000,28.000000,31.000000,8188.000000,3.000000,0.000000,8.000000,3.000000,0.000000,4.000000,1.000000,0.000000,2.461255e+06
max,2025.000000,8040.000000,388.000000,280.000000,8850.000000,34.000000,8700.000000,99.000000,39.000000,10.000000,99.000000,48.000000,11.000000,2.334512e+07

In [47]:
#for string/object columns
expeddf.describe(include="object")

,EXPID,PEAKID,SEASON,HOST,ROUTE1,ROUTE2,ROUTE3,ROUTE4,NATION,LEADERS,...,OTHERSMTS,CAMPSITES,ROUTEMEMO,ACCIDENTS,ACHIEVMENT,AGENCY,COMRTE,STDRTE,PRIMREF,PRIMID
count,11695,11695,11346,11695,11535,370,30,5,11695,11671,...,2207,11307,10122,3001,976,9954,9309,9479,7972,757
unique,11690,425,4,4,1281,259,30,5,102,6196,...,1975,10803,10033,2716,874,994,2,2,2,601
top,EVER24101,EVER,Winter,Nepal,SW Ridge,S Col-W Face,W Ridge-W Face from S,SE Face,USA,Paulo Grobel,...,Climbed Island Peak,No Smt,One or more members?,Nothing serious,1st ascent,Asian Trekking,True,True,False,RAMD55101
freq,2,2393,5780,9362,1746,26,1,1,1315,62,...,57,49,9,132,21,871,5788,5761,7340,8

Review relevent columns with describe() and dropna() functions

In [48]:
peaksdf["HEIGHTM"].describe()

count     490.000000
mean     6645.828571
std       568.992482
min      5407.000000
25%      6235.000000
50%      6554.500000
75%      6892.000000
max      8849.000000
Name: HEIGHTM, dtype: float64

In [49]:
peaksdf["HEIGHTM"].dropna()

0      6814
1      5630
2      8091
3      7937
4      7555
       ...
485    6445
486    6557
487    6857
488    6868
489    6581
Name: HEIGHTM, Length: 490, dtype: int64

In [50]:
np.percentile(peaksdf['HEIGHTM'].dropna(), [0, 25, 50, 75, 100])

array([5407. , 6235. , 6554.5, 6892. , 8849. ])

In [51]:
expeddf['ROUTE1'].value_counts()

ROUTE1
SW Ridge                     1746
S Col-SE Ridge               1352
NW side                      1101
NE Face                       847
N Col-NE Ridge                791
                             ...
N Ridge up; SW Ridge down       1
NW Ridge (to 5800m)             1
NW Ridge route (to 6800m)       1
NE Ridge (to 6420m)             1
W Face (variant)                1
Name: count, Length: 1281, dtype: int64

In [52]:
bad_weather_count = (expeddf['TERMREASON'] == 4).sum()
bad_weather_count

np.int64(0)

In [53]:
technical_diff_count = (expeddf['TERMREASON'] == 10).sum()
technical_diff_count

np.int64(0)

In [54]:
expeddf['TERMREASON'].value_counts().sort_index()

TERMREASON
Accident (death or serious injury)                                               303
Attempt rumored                                                                   12
Bad conditions (deep snow, avalanching, falling ice, or rock)                   1180
Bad weather (storms, high winds)                                                1411
Did not attempt climb                                                            255
Did not reach base camp                                                           66
Illness, AMS, exhaustion, or frostbite                                           495
Lack (or loss) of supplies, support or equipment                                 225
Lack of time                                                                      98
Other                                                                            332
Route technically too difficult, lack of experience, strength, or motivation     454
Success (claimed)                                                                 22
Success (main peak)                                                             6559
Success (subpeak, foresummit)                                                    147
Unknown                                                                          136
Name: count, dtype: int64


Success, Host, Himal were all reviewed as they were both confusing and not easy to understand.

PSTATUS is eitehr 1 or 2 however it is not clear what 1 or 2 are without reviewing the raw data

0 == Unknown
1 == Unclimbed
2 == Climbed

In [55]:
peaksdf["PSTATUS"].value_counts()

PSTATUS
Climbed      375
Unclimbed    115
Name: count, dtype: int64

Similar with HIMAL which is a numbered reference to the mountain range whic isn't very clear.

In [56]:
peaksdf["HIMAL"].value_counts()

HIMAL
Khumbu                       79
Rolwaling                    48
Janak/Ohmi Kangri            30
Kangchenjunga/Simhalila      30
Annapurna                    28
Damodar                      27
Kanjiroba                    26
Dhaulagiri                   25
Jugal                        22
Manaslu/Mansiri              21
Kanti/Palchung               21
Peri                         20
Ganesh/Shringi               20
Api/Byas Risi/Guras          18
Nalakankar/Chandi/Changla    17
Mukut/Mustang                15
Langtang                     14
Jongsang                     14
Makalu                        9
Saipal                        6
Name: count, dtype: int64

Exploring what Success1, Success2, Success3 were and what they related to.

In [57]:
expeddf["SUCCESS2"].value_counts()

SUCCESS2
False    11523
True       172
Name: count, dtype: int64

Term reason also wasn't clear what is was as it was only numbers and didn't mean anything when reviewing the data .

In [58]:
expeddf[expeddf["SUCCESS2"]==True].TERMREASON.value_counts()

TERMREASON
Success (main peak)              171
Success (subpeak, foresummit)      1
Name: count, dtype: int64

Lastly Host was also checked for customer experience

In [59]:
expeddf["HOST"]

0        Nepal
1        Nepal
2        Nepal
3        Nepal
4        Nepal
         ...
11690    Nepal
11691    Nepal
11692    Nepal
11693    Nepal
11694    Nepal
Name: HOST, Length: 11695, dtype: object

In [60]:
expeddf["HOST"].value_counts()

HOST
Nepal      9362
China      2262
India        69
Unknown       2
Name: count, dtype: int64

As the data was so unreadable in this format we decided to follow the Tidy_Tuesday recommendation and ammended 2_Data_Collection to change from integers into strings for both expeddf and peaksdf. 

The next stage of the EDA was to create expedition success flags, derive metrics like success rate per peak or route, death rate, altitude bands, and boolean indicators for oxygen use and hired personnel.
- Aggregate with `groupby` for the questions in the readme: distribution of PSTATUS by HIMAL_FACTOR, mean HEIGHTM by HIMAL_FACTOR, distributions of HEIGHTM for OPEN vs not, success rates by ROUTE1–4, oxygen vs non‑oxygen success, termination reasons (weather vs technical), and hired vs non‑hired death/success rates.
- Store reusable aggregates in separate DataFrames (e.g., `status_by_range`, `route_success`, `reason_counts`) and cache intermediate results to CSV/Parquet for version control

In [61]:
expeddf["MDEATHS"].value_counts()

MDEATHS
0     11094
1       452
2       101
3        27
4        10
5         9
10        1
7         1
Name: count, dtype: int64

In [62]:
expeddf[["MDEATHS", "HDEATHS"]]

       MDEATHS  HDEATHS
0            0        0
1            0        0
2            0        0
3            0        0
4            0        0
...        ...      ...
11690        0        0
11691        0        0
11692        0        0
11693        0        0
11694        0        0

[11695 rows x 2 columns]

In [63]:
succcess_cols = ["SUCCESS1", "SUCCESS2", "SUCCESS3", "SUCCESS4"]

#Any success on any route
expeddf["success_flag"]= expeddf[succcess_cols].any(axis=1)

#Deaths flags 
death_cols = ["MDEATHS", "HDEATHS"]
expeddf["death_flag"] = expeddf[death_cols].gt(0).any(axis=1)

#Oxygen and hired personel 
expeddf["oxygen_used_flag"] = expeddf["O2USED"] > 0
expeddf["non_oxygen_used_flag"] = expeddf["O2NONE"] > 0
expeddf["no_hired_personnel_flag"] = expeddf["NOHIRED"] > 0

Altitude bands

In [64]:
bins = [0, 6000, 7000, 8000, 9000]
labels = ['<6000m', '6000-6999m', '7000-7999m', '8000m+']
expeddf['altitude_band'] = pd.cut(peaksdf['HEIGHTM'], bins=bins, labels=labels, right=False)
expeddf['altitude_band'].value_counts().sort_index()

altitude_band
<6000m         28
6000-6999m    359
7000-7999m     87
8000m+         16
Name: count, dtype: int64

Grouped aggretates based on the business objectives in the readme. 

The PSTATUS is a number referencing whether the peak is unknown (0), unclimbed(1) or climbed (2)" and the status_by_range shows conceptually for each mountain range and for each peak PSTATUS.

In [65]:
status_by_range = (
    peaksdf.groupby(["HIMAL", "PSTATUS"])
    .size()
    .rename("count")
    .reset_index()
)

#Mean HEIGHTM by HIMAL
mean_height_by_range = (
    peaksdf.groupby("HIMAL")["HEIGHTM"]
    .mean()
    .rename("mean_HEIGHTM")
    .reset_index()
)

#Distributions of HEIGHTM for OPEN vs not
heightm_by_open = (
    peaksdf.groupby("OPEN")["HEIGHTM"]
    .describe()
    .reset_index()
)   

#Success rates by main route Route1
route1_success = (
    expeddf.groupby("ROUTE1")["success_flag"]
    .mean()
    .rename("success_rate_route1") 
    .reset_index()
)

#Oxygen vs non‑oxygen success
oxygen_success = (
    expeddf.groupby("oxygen_used_flag")["success_flag"]
    .mean()
    .rename("success_rate_oxygen")
    .reset_index()
)

#Termination reasons (weather vs technical)
termination_reason_counts = (
    expeddf[expeddf["TERMREASON"].str.contains("weather|technical", case=False, na=False)]
    ["TERMREASON"]
    .value_counts()
    .rename("termreason_counts")
    .reset_index()
)

Save some reusable aggregates

In [ ]:
from Pathlib import Path

Path("himalayan_aggregates").mkdir(parents=True, exist_ok=True)

status_by_range.to_csv("himalayan_aggregates/status_by_range.csv", index=False)
mean_height_by_range.to_csv("himalayan_aggregates/mean_height_by_range.csv", index=False)
heightm_by_open.to_csv("himalayan_aggregates/heightm_by_open.csv", index=False)
route1_success.to_csv("himalayan_aggregates/route1_success.csv", index=False)
oxygen_success.to_csv("himalayan_aggregates/oxygen_success.csv", index=False)

OSError: Cannot save file into a non-existent directory: 'himalayan_aggregates'