Exploratory Data Anaylsis - detect outliners and missing values, etc etc

Cover the basics with a toolkit of pandas and NumPy functions. 

Starting with df.describe() for the columns and df.describe(include="object"), int order to count: number of non-missing values, mean: average value, std: standard deviation, min, 25%, 50%, 75%, max: minimum, quartiles, maximum values.


***General EDA helpers in pandas/NumPy***

1.Overview: df.info(), df.describe(), df.describe(include='object')
2.Missingness: df.isna().sum(), df[col].isna().mean()
3.Unique categories: df[col].value_counts(), .nunique()
4.Group summaries: df.groupby(col)[num_col].agg(['mean','median','std','count'])
5.Correlation: df[cols].corr()
6.Outliers via IQR:

In [1]:
import pandas as pd 
import numpy as np
expeddf = pd.read_csv("himalayan_tidy/expeddf_tidy.csv", low_memory=False)
peaksdf = pd.read_csv("himalayan_tidy/peaksdf_tidy.csv", low_memory=False)

FileNotFoundError: [Errno 2] No such file or directory: 'himalayan_tidy/peaksdf_tidy.csv'

In [ ]:
#for numerical columns
expeddf.describe()

,YEAR,SEASON,HOST,SMTTIME,SMTDAYS,TOTDAYS,TERMREASON,HIGHPOINT,CAMPS,ROPE,TOTMEMBERS,SMTMEMBERS,MDEATHS,TOTHIRED,SMTHIRED,HDEATHS,CHKSUM
count,11578.000000,11578.000000,11578.000000,5023.000000,11578.000000,11578.000000,11578.000000,11578.000000,11578.000000,11578.000000,11578.000000,11578.000000,11578.000000,11578.000000,11578.000000,11578.000000,1.157800e+04
mean,2003.380117,2.097426,1.206599,1073.905435,17.997063,19.168337,3.397564,7084.849283,2.255053,170.492918,6.152703,2.050527,0.071688,3.195802,1.278114,0.029021,2.293756e+06
std,15.322922,1.034772,0.419757,395.528022,15.749195,17.659264,3.471388,1820.546528,1.570926,666.910832,5.567834,3.153243,0.367612,5.646562,3.014011,0.273542,6.457844e+05
min,1905.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.015000e+03
25%,1996.000000,1.000000,1.000000,826.000000,5.000000,0.000000,1.000000,6550.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.452888e+06
50%,2007.000000,3.000000,1.000000,1045.000000,15.000000,16.000000,1.000000,7162.500000,2.000000,0.000000,5.000000,1.000000,0.000000,2.000000,0.000000,0.000000,2.458439e+06
75%,2014.000000,3.000000,1.000000,1300.000000,28.000000,31.000000,5.000000,8188.000000,3.000000,0.000000,8.000000,3.000000,0.000000,4.000000,1.000000,0.000000,2.461134e+06
max,2024.000000,4.000000,3.000000,8040.000000,388.000000,280.000000,14.000000,8850.000000,34.000000,8700.000000,99.000000,39.000000,10.000000,99.000000,48.000000,11.000000,2.334512e+07

In [ ]:
#for string/object columns
expeddf.describe(include="object")

,EXPID,PEAKID,ROUTE1,ROUTE2,ROUTE3,ROUTE4,NATION,LEADERS,SPONSOR,ASCENT1,...,OTHERSMTS,CAMPSITES,ROUTEMEMO,ACCIDENTS,ACHIEVMENT,AGENCY,COMRTE,STDRTE,PRIMREF,PRIMID
count,11578,11578,11423,361,30,5,11578,11554,10759,2789,...,2203,11191,10046,3001,976,9842,9192,9362,7855,755
unique,11574,423,1279,259,30,5,101,6142,9307,993,...,1971,10725,9958,2716,874,986,2,2,2,599
top,EVER22101,EVER,SW Ridge,S Col-W Face,W Ridge-W Face from S,SE Face,USA,Paulo Grobel,Independent climber,1st,...,Climbed Island Peak,No Smt,One or more members?,Nothing serious,1st ascent,Asian Trekking,True,True,False,RAMD55101
freq,2,2349,1732,26,1,1,1300,62,62,264,...,57,48,9,132,21,867,5733,5682,7225,8

Review relevent columns with describe() and dropna() functions

In [ ]:
peaksdf["HEIGHTM"].describe()

count     490.000000
mean     6645.828571
std       568.992482
min      5407.000000
25%      6235.000000
50%      6554.500000
75%      6892.000000
max      8849.000000
Name: HEIGHTM, dtype: float64

In [ ]:
peaksdf["HEIGHTM"].dropna()

0      6814
1      5630
2      8091
3      7937
4      7555
       ...
485    6445
486    6557
487    6857
488    6868
489    6581
Name: HEIGHTM, Length: 490, dtype: int64

In [ ]:
np.percentile(peaksdf['HEIGHTM'].dropna(), [0, 25, 50, 75, 100])

array([5407. , 6235. , 6554.5, 6892. , 8849. ])

In [ ]:
expeddf['ROUTE1'].value_counts()

ROUTE1
SW Ridge                                1732
S Col-SE Ridge                          1314
NW side                                 1101
NE Face                                  847
N Col-NE Ridge                           785
                                        ...
N Ridge up; SW Ridge down                  1
NW Ridge (to 5800m)                        1
NW Ridge route (to 6800m)                  1
NE Ridge (to 6420m)                        1
W Face-SW Ridge (up), E Ridge (down)       1
Name: count, Length: 1279, dtype: int64

In [ ]:
bad_weather_count = (expeddf['TERMREASON'] == 4).sum()
bad_weather_count

np.int64(1401)

In [ ]:
technical_diff_count = (expeddf['TERMREASON'] == 10).sum()
technical_diff_count

np.int64(452)

In [ ]:
expeddf['TERMREASON'].value_counts().sort_index()

TERMREASON
0      135
1     6466
2      146
3       22
4     1401
5     1173
6      303
7      494
8      225
9       98
10     452
11      66
12     253
13      12
14     332
Name: count, dtype: int64


Success, Host, Himal were all reviewed as they were both confusing and not easy to understand.

PSTATUS is eitehr 1 or 2 however it is not clear what 1 or 2 are without reviewing the raw data

0 == Unknown
1 == Unclimbed
2 == Climbed

In [ ]:
peaksdf["PSTATUS"].value_counts()

PSTATUS
2    374
1    116
Name: count, dtype: int64

Similar with HIMAL which is a numbered reference to the mountain range whic isn't very clear.

In [ ]:
peaksdf["HIMAL"].value_counts()

HIMAL
12    79
19    48
6     30
9     30
1     28
3     27
10    26
4     25
8     22
15    21
11    21
18    20
5     20
2     18
17    17
16    15
13    14
7     14
14     9
20     6
Name: count, dtype: int64

Exploring what Success1, Success2, Success3 were and what they related to.

In [ ]:
expeddf["SUCCESS2"].value_counts()

SUCCESS2
False    11415
True       163
Name: count, dtype: int64

Term reason also wasn't clear what is was as it was only numbers and didn't mean anything when reviewing the data .

In [ ]:
expeddf[expeddf["SUCCESS2"]==True].TERMREASON.value_counts()

TERMREASON
1    162
2      1
Name: count, dtype: int64

Lastly Host was also checked for customer experience

In [ ]:
expeddf["HOST"]

0        1
1        1
2        1
3        1
4        1
        ..
11573    1
11574    1
11575    1
11576    1
11577    1
Name: HOST, Length: 11578, dtype: int64

In [ ]:
expeddf["HOST"].value_counts()

HOST
1    9251
2    2256
3      69
0       2
Name: count, dtype: int64

As the data was so unreadable in this format we decided to follow the Tidy_Tuesday recommendation and ammended 2_Data_Collection to change from integers into strings for both expeddf and peaksdf. 

The next stage of the EDA was to create expedition success flags, derive metrics like success rate per peak or route, death rate, altitude bands, and boolean indicators for oxygen use and hired personnel.
- Aggregate with `groupby` for the questions in the readme: distribution of PSTATUS by HIMAL_FACTOR, mean HEIGHTM by HIMAL_FACTOR, distributions of HEIGHTM for OPEN vs not, success rates by ROUTE1–4, oxygen vs non‑oxygen success, termination reasons (weather vs technical), and hired vs non‑hired death/success rates.
- Store reusable aggregates in separate DataFrames (e.g., `status_by_range`, `route_success`, `reason_counts`) and cache intermediate results to CSV/Parquet for version control

In [ ]:
succcess_cols = ["SUCCESS1", "SUCCESS2", "SUCCESS3", "SUCCESS4"]

#Any success on any route
expeddf["success_flag"]= expeddf[succcess_cols].any(axis=1)

#Deaths flags 
expeddf["death_flag"] = expeddf["DEATHS"] > 0

#Oxygen and hired personel 
expeddf["oxygen_used_flag"] = expeddf["O2_USED"] > 0
expeddf["non_oxygen_used_flag"] = expeddf["O2NONE"] > 0
expeddf["no_hired_personnel_flag"] = expeddf["NOHIRED"] > 0

Altitude bands

In [ ]:
bins = [0, 6000, 7000, 8000, 9000]
labels = ['<6000m', '6000-6999m', '7000-7999m', '8000m+']
expeddf['altitude_band'] = pd.cut(expeddf['HEIGHTM'], bins=bins, labels=labels, right=False)
expeddf['altitude_band'].value_counts().sort_index()

Grouped aggretates based on the business objectives in the readme. 

The PSTATUS is a number referencing whether the peak is unknown (0), unclimbed(1) or climbed (2)" and the status_by_range shows conceptually for each mountain range and for each peak PSTATUS.

In [ ]:
status_by_range = (
    peaksdf.groupby(["HIMAL", "PSTATUS"])
    .size()
    .rename("count")
    .reset_index()
)

#Mean HEIGHTM by HIMAL
mean_height_by_range = (
    peaksdf.groupby("HIMAL")["HEIGHTM"]
    .mean()
    .rename("mean_HEIGHTM")
    .reset_index()
)

#Distributions of HEIGHTM for OPEN vs not
heightm_by_open = (
    peaksdf.groupby("OPEN")["HEIGHTM"]
    .describe()
    .reset_index()
)   

#Success rates by main route Route1
route1_success = (
    peaksdf.groupby("ROUTE1")["success_flag"]
    .mean()
    .rename("success_rate_route1") 
    .reset_index()
)

#Oxygen vs non‑oxygen success
oxygen_success = (
    expeddf.groupby("oxygen_used_flag")["success_flag"]
    .mean()
    .rename("success_rate_oxygen")
    .reset_index()
)

#Termination reasons (weather vs technical)
termination_reason_counts = (
    expeddf["TERMREASON".isin(["weather", "technical"])]
    .count()
    .rename("termreason_counts")
    .reset_index()
)

Save some reusable aggregates

In [ ]:
status_by_range.to_csv("himalayan_aggregates/status_by_range.csv", index=False)
mean_height_by_range.to_csv("himalayan_aggregates/mean_height_by_range.csv", index=False)
heightm_by_open.to_csv("himalayan_aggregates/heightm_by_open.csv", index=False)
route1_success.to_csv("himalayan_aggregates/route1_success.csv", index=False)
oxygen_success.to_csv("himalayan_aggregates/oxygen_success.csv", index=False)