The dataset was, following the work done in 2_Data_Collection shared within the team so that everyone was working off the same dataset. A couple of checks using head() were conducted as a test for consistency which passeed.

In [2]:
import pandas as pd
import numpy as np

expeddf = pd.read_csv("himalayan_tidy/expeddf_tidy.csv", low_memory=False)
peaksdf = pd.read_csv("himalayan_tidy/peaksdf_tidy.csv", low_memory=False)

expeddf.head(10)

,EXPID,PEAKID,YEAR,SEASON,HOST,ROUTE1,ROUTE2,ROUTE3,ROUTE4,NATION,...,ACCIDENTS,ACHIEVMENT,AGENCY,COMRTE,STDRTE,PRIMRTE,PRIMMEM,PRIMREF,PRIMID,CHKSUM
0,ANN260101,ANN2,1960,1,1,NW Ridge-W Ridge,NaN,NaN,NaN,UK,...,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2442047
1,ANN269301,ANN2,1969,3,1,NW Ridge-W Ridge,NaN,NaN,NaN,Yugoslavia,...,Draslar frostbitten hands and feet,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2445501
2,ANN273101,ANN2,1973,1,1,W Ridge-N Face,NaN,NaN,NaN,Japan,...,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2446797
3,ANN278301,ANN2,1978,3,1,N Face-W Ridge,NaN,NaN,NaN,UK,...,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2448822
4,ANN279301,ANN2,1979,3,1,N Face-W Ridge,NW Ridge of A-IV,NaN,NaN,UK,...,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2449204
5,ANN280101,ANN2,1980,1,1,N Face-W Ridge,NaN,NaN,NaN,Japan,...,Tanabe (leader) killed by fall,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2449394
6,ANN280102,ANN2,1980,1,1,SE Spur (to 6000m),S Face-W Ridge (to 7250m),NaN,NaN,Poland,...,Injuries by avalanche,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2449408
7,ANN281302,ANN2,1981,3,1,NW Ridge-W Ridge,NaN,NaN,NaN,Italy,...,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2449912
8,ANN281301,ANN2,1981,3,1,S Ridge/SE Face,NaN,NaN,NaN,Japan,...,Icikawa killed by 500m fall at 7400m,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2449930
9,ANN282301,ANN2,1982,3,1,S Face,NaN,NaN,NaN,Japan,...,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,2450289

In [3]:
peaksdf.head(10)

,PEAKID,PKNAME,PKNAME2,LOCATION,HEIGHTM,HEIGHTF,HIMAL,REGION,OPEN,UNLISTED,...,PEAKMEMO,PYEAR,PSEASON,PEXPID,PSMTDATE,PCOUNTRY,PSUMMITERS,PSMTNOTE,REFERMEMO,PHOTOMEMO
0,AMAD,Ama Dablam,Amai Dablang,Khumbu Himal,6814,22356,12,2,True,False,...,"Other map altitudes:\r\n 6814m - HMG-MT, HMG...",1961.0,1,AMAD61101,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",NaN,NaN,W Face (High 126:5 May 1993)\r\nSE Face (High ...
1,AMPG,Amphu Gyabjen,Amphu Gyabien,Khumbu Himal (N of Ama Dablam),5630,18471,12,2,True,False,...,"Other map altitudes:\r\n 5630m - HMG-Finn, N...",1953.0,1,AMPG53101,Apr 11,UK,"John Hunt, Tom Bourdillon",NaN,NaN,NaN
2,ANN1,Annapurna I,NaN,Annapurna Himal,8091,26545,1,5,True,False,...,"Other map altitudes:\r\n 8091m - HMG-MT, HMG...",1950.0,1,ANN150101,Jun 03,France,"Maurice Herzog, Louis Lachenal",NaN,Dyhrenfurth history 1950-1977 (MM 58:44-47 Nov...,S Face (High 122:3 Jan 1993) (Beghin accident)...
3,ANN2,Annapurna II,NaN,Annapurna Himal,7937,26040,1,5,True,False,...,"Other map altitudes:\r\n 7937m - HMG-MT, HMG...",1960.0,1,ANN260101,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",NaN,Dyhrenfurth history 1960-1976 (MM 51:36-37 Sep...,N Face (MM 51:36 Sep 1976)
4,ANN3,Annapurna III,NaN,Annapurna Himal,7555,24787,1,5,True,False,...,"Other map altitudes:\r\n 7555m - HMG-MT, HMG...",1961.0,1,ANN361101,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",NaN,NaN,S Side (MM 125:11 Jan 1989)\r\nSW Face (MM 71:...
5,ANN4,Annapurna IV,NaN,Annapurna Himal,7525,24688,1,5,True,False,...,"Other map altitudes:\r\n 7525m - HMG-MT, HMG...",1955.0,1,ANN455101,May 30,W Germany,"Heinz Steinmetz, Harald Biller, Juergen Wellen...",NaN,NaN,SW Pillar (High 198:40 May 1999) \r\nSW Side (...
6,ANNE,Annapurna I East,NaN,Annapurna Himal (ENE of Annapurna I),8026,26332,1,5,True,False,...,Other map altitudes:\r\n 8000m - Leomann,1974.0,1,ANNE74101,Apr 29,Spain,"Jose Manuel Anglada Nieto, Jorge Pons Sangines...",NaN,NaN,N Side (MM 88:41 Nov 1982)
7,ANNM,Annapurna I Middle,NaN,Annapurna Himal (ENE of Annapurna I),8051,26414,1,5,True,False,...,Other map altitudes:\r\n 8013m - HMG-Finn\r\...,1980.0,3,ANNM80301,Oct 03,W Germany,"Udo Boening, Ludwig Greissl, Heinz Oberrauch",NaN,NaN,NaN
8,ANNS,Annapurna South,"Annapurna Dakshin, Moditse",Annapurna Himal (S of Annapurna I and Fang),7219,23684,1,5,True,False,...,"Other map altitudes:\r\n 7219m - HMG-MT, HMG...",1964.0,3,ANNS64301,Oct 15,"Japan, Nepal","Shiochiro Uyeo, Mingma Tsering Sherpa",NaN,NaN,S Face (High 155:9 Oct 1995)\r\nS Face (AAJ 69...
9,APIM,Api Main,NaN,Api Himal,7132,23399,2,7,True,False,...,"Other map altitudes:\r\n 7132m - HMG-MT, HMG...",1960.0,1,APIM60101,May 10,"Japan, Nepal","Katsutoshi Hirabayashi, Gyaltsen Norbu Sherpa",1st ascent claimed by UK (H. S. Landor) in 189...,NaN,SE Face (High 175:82 Jun 1997)\r\nSE Face (AAJ...

Data Dictionary can be found here; https://github.com/rfordatascience/tidytuesday/blob/main/data/2025/2025-01-21/readme.md.

**Dictionary exped.csv.**

| Variable           | Class      | Description                                         |
|--------------------|------------|-----------------------------------------------------|
| EXPID              | factor     | Expedition ID.                                      |
| PEAKID             | factor     | Peak ID                                             |
| YEAR               | factor     | Year of the expedition.                             |
| SEASON             | integer    | Season of the expedition as an integer.             |
| SEASON_FACTOR      | character  | Season as descriptive name.                         |
| HOST               | integer    | Host country as an integer.                         |
| HOST_FACTOR        | character  | Host country as descriptive name.                   |
| ROUTE1             | factor     | Climbing route 1.                                   |
| ROUTE2             | factor     | Climbing route 2.                                   |
| ROUTE3             | factor     | Climbing route 3.                                   |
| ROUTE4             | factor     | Climbing route 4.                                   |
| NATION             | factor     | Principle nationality.                              |
| LEADERS            | factor     | Leadership of the expedition.                       |
| SPONSOR            | factor     | Expedition sponsor / name.                          |
| SUCCESS1           | logical    | Success on route 1?                                 |
| SUCCESS2           | logical    | Success on route 2?                                 |
| SUCCESS3           | logical    | Success on route 3?                                 |
| SUCCESS4           | logical    | Success on route 4?                                 |
| ASCENT1            | factor     | Ascent numbers for route 1.                         |
| ASCENT2            | factor     | Ascent numbers for route 2.                         |
| ASCENT3            | factor     | Ascent numbers for route 3.                         |
| ASCENT4            | factor     | Ascent numbers for route 4.                         |
| CLAIMED            | logical    | Success claimed?                                    |
| DISPUTED           | logical    | Success disputed?                                   |
| COUNTRIES          | factor     | Other countries.                                    |
| APPROACH           | factor     | Approach march.                                     |
| BCDATE             | date       | Date arrived at base camp.                          |
| SMTDATE            | date       | Date reached summit.                                |
| SMTTIME            | factor     | Time reached summit.                                |
| SMTDAYS            | integer    | Number of days to summit / high-point.              |
| TOTDAYS            | integer    | Total number of days.                               |
| TERMDATE           | date       | Date expedition was terminated.                     |
| TERMREASON         | integer    | Termination reason as integer.                      |
| TERMREASON_FACTOR  | character  | Termination reason as descriptive name.             |
| TERMNOTE           | factor     | Termination details.                                |
| HIGHPOINT          | integer    | Expedition high-point.                              |
| TRAVERSE           | logical    | Expedition traversed?                               |
| SKI                | logical    | Ski / snowboard descent?                            |
| PARAPENTE          | logical    | Parapente descent?                                  |
| CAMPS              | integer    | Number of high camps above base camp.               |
| ROPE               | integer    | Amount of fixed rope.                               |
| TOTMEMBERS         | integer    | Number of members.                                  |
| SMTMEMBERS         | integer    | Members on summit.                                  |
| MDEATHS            | integer    | Number of member deaths.                            |
| TOTHIRED           | integer    | Hired personnel above base camp.                    |
| SMTHIRED           | integer    | Hired personnel on summit.                          |
| HDEATHS            | integer    | Hired personnel deaths.                             |
| NOHIRED            | logical    | No hired personnel used above base camp.            |
| O2USED             | logical    | Oxygen used?                                        |
| O2NONE             | logical    | Oxygen not used?                                    |
| O2CLIMB            | logical    | Oxygen climbing?                                    |
| O2DESCENT          | logical    | Oxygen descending?                                  |
| O2SLEEP            | logical    | Oxygen sleeping?                                    |
| O2MEDICAL          | logical    | Oxygen used medically?                              |
| O2TAKEN            | logical    | Oxygen taken, not used?                             |
| O2UNKWN            | logical    | Oxygen use unknown?                                 |
| OTHERSMTS          | factor     | Other summits.                                      |
| CAMPSITES          | factor     | Campsite details.                                   |
| ROUTEMEMO          | factor     | Route details.                                      |
| ACCIDENTS          | factor     | Accidents on the expedition.                        |
| ACHIEVMENT         | factor     | Achievements.                                       |
| AGENCY             | factor     | Trekking agency.                                    |
| COMRTE             | logical    | Commercial route?                                   |
| STDRTE             | logical    | 8000m standard route?                               |
| PRIMRTE            | logical    | Info with primary expedition?                       |
| PRIMMEM            | logical    | Member info with primary expedition?                |
| PRIMREF            | logical    | Literature info with primary expedition?            |
| PRIMID             | factor     | Primary expedition ID (if any).                     |
| CHKSUM             | integer    | Internal consistency check.                         |

Dictionary peaks.csv

| Variable       | Class      | Description                                                           |
|----------------|-----------|-----------------------------------------------------------------------|
| PEAKID         | integer   | Peak ID, the key field (unique identifier) for each record.           |
| PKNAME         | integer   | Peak name.                                                            |
| PKNAME2        | integer   | Peak name 2.                                                          |
| LOCATION       | integer   | Location of the peak.                                                 |
| HEIGHTM        | integer   | Peak height in meters.                                                |
| HEIGHTF        | integer   | Peak height in feet.                                                  |
| HIMAL          | integer   | Mountain range identifier; see HIMAL_FACTOR for names.                |
| HIMAL_FACTOR   | integer   | Mountain range name.                                                  |
| REGION         | integer   | Region identifier.                                                    |
| REGION_FACTOR  | string    | Region name.                                                          |
| OPEN           | bool      | Indicates peak is open for expeditions.                               |
| UNLISTED       | bool      | Indicates peak is unlisted in official records.                       |
| TREKKING       | bool      | Indicates peak is a trekking peak.                                    |
| TREKYEAR       | integer   | Year the peak was designated as a trekking peak.                      |
| RESTRICT       | bool      | Peak is restricted for climbing or access.                            |
| PHOST          | integer   | Primary host country identifier; see PHOST_FACTOR for names.          |
| PHOST_FACTOR   | string    | Primary host country name for PHOST.                                  |
| PSTATUS        | integer   | Climbing status identifier; see PSTATUS_FACTOR for names.             |
| PSTATUS_FACTOR | string    | Climbing status description for PSTATUS.                              |
| PEAKMEMO       | string    | Additional notes/remarks about the peak.                              |
| PYEAR          | integer   | Year of first recorded climbing attempt.                              |
| PSEASON        | string    | Climbing season associated with first ascent/expedition.              |
| PEXPID         | integer   | Expedition ID for first recorded climb.                               |
| PSMTDATE       | string    | Date of first successful summit.                                      |
| PCOUNTRY       | string    | Country of origin for the expedition or climbers.                     |
| PSUMMITERS     | integer   | Number of climbers who first reached summit.                          |
| PSMTNOTE       | string    | Notes related to first successful summit.                             |
| REFERMEMO      | string    | Peak chronology references.                                           |
| PHOTOMEMO      | string    | Peak photo references.                                                |

Having reviewed peaksdf decided to remove the following columns from the table; HEIGHTF, UNLISTED, TREKKING, and TREKYEAR based on the focus of the questions agreed in the Abgabe. 

1. What is the distribution of climbing status (PSTATUS) across different mountain ranges (HIMAL_FACTOR)?
2. Which mountain range (HIMAL_FACTOR) has the highest average peak height (HEIGHTM)?
3. What is the distribution of peak heights (HEIGHTM) for peaks that are open (OPEN) versus those that are not?
4. Which climbing routes (ROUTE1, ROUTE2, ROUTE3, ROUTE4) have the highest success rates (SUCCESS1, SUCCESS2, SUCCESS3, SUCCESS4) across all expeditions?
5. How does the use of supplemental oxygen (O2USED, O2NONE) affect summit success rates?
6. How often does bad weather (TERMREASON = 4) play a role in termination compared to technical difficulty (TERMREASON = 10)?
7. Are expeditions with no hired personnel (NOHIRED) associated with higher or lower death rates?

In [4]:
peaksdf = peaksdf.drop(columns = ["HEIGHTF", "UNLISTED", "TREKKING", "TREKYEAR"])

In [5]:
peaksdf

,PEAKID,PKNAME,PKNAME2,LOCATION,HEIGHTM,HIMAL,REGION,OPEN,RESTRICT,PHOST,...,PEAKMEMO,PYEAR,PSEASON,PEXPID,PSMTDATE,PCOUNTRY,PSUMMITERS,PSMTNOTE,REFERMEMO,PHOTOMEMO
0,AMAD,Ama Dablam,Amai Dablang,Khumbu Himal,6814,12,2,True,NaN,1,...,"Other map altitudes:\r\n 6814m - HMG-MT, HMG...",1961.0,1,AMAD61101,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",NaN,NaN,W Face (High 126:5 May 1993)\r\nSE Face (High ...
1,AMPG,Amphu Gyabjen,Amphu Gyabien,Khumbu Himal (N of Ama Dablam),5630,12,2,True,Opened in 2002,1,...,"Other map altitudes:\r\n 5630m - HMG-Finn, N...",1953.0,1,AMPG53101,Apr 11,UK,"John Hunt, Tom Bourdillon",NaN,NaN,NaN
2,ANN1,Annapurna I,NaN,Annapurna Himal,8091,1,5,True,NaN,1,...,"Other map altitudes:\r\n 8091m - HMG-MT, HMG...",1950.0,1,ANN150101,Jun 03,France,"Maurice Herzog, Louis Lachenal",NaN,Dyhrenfurth history 1950-1977 (MM 58:44-47 Nov...,S Face (High 122:3 Jan 1993) (Beghin accident)...
3,ANN2,Annapurna II,NaN,Annapurna Himal,7937,1,5,True,NaN,1,...,"Other map altitudes:\r\n 7937m - HMG-MT, HMG...",1960.0,1,ANN260101,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",NaN,Dyhrenfurth history 1960-1976 (MM 51:36-37 Sep...,N Face (MM 51:36 Sep 1976)
4,ANN3,Annapurna III,NaN,Annapurna Himal,7555,1,5,True,NaN,1,...,"Other map altitudes:\r\n 7555m - HMG-MT, HMG...",1961.0,1,ANN361101,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",NaN,NaN,S Side (MM 125:11 Jan 1989)\r\nSW Face (MM 71:...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,MAHA,Mahalanagur,NaN,Rolwaling Himal (W of Nangpa La on Tibetan bor...,6445,19,2,True,Opened in 2023,4,...,"Other map altitudes:\r\n 6445m - HMG-MT, HMG...",NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,CHWE,Chaw East,NaN,Ohmi Kangri Himal (ESE of Chaw Peak on Tibetan...,6557,6,1,True,Opened in 2023,4,...,"Other map altitudes:\r\n 6557m - HMG-MT, HMG...",NaN,0,NaN,NaN,NaN,Unclimbed,NaN,NaN,NaN
487,PTHN,Pathibhara Northeast,Pathibhara East,Jongsang Himal (NE of Sphinx on Indian border),6857,7,1,True,Opened in 2023,5,...,Other map altitudes:\r\n 6852m - Japan MMW\r...,NaN,0,NaN,NaN,NaN,Unclimbed,NaN,NaN,NaN
488,PTHS,Pathibhara Southeast,NaN,Jongsang Himal (SE of Pyramid Peak on Indian b...,6868,7,1,True,Opened in 2023,5,...,Other map altitudes:\r\n 6650m - Japan MMW\r...,NaN,0,NaN,NaN,NaN,Unclimbed,NaN,NaN,NaN
489,CHNK,Changla Khang,NaN,Changla Himal (Far SE of Changla Himal on Tibe...,6581,17,7,True,Opened in 2023,4,...,"Other map altitudes:\r\n 6581m - HMG-MT, HMG...",NaN,0,NaN,NaN,NaN,Unclimbed,NaN,NaN,NaN