The data was downloaded from github as a CSV and then was converted to UTF-8 on excel from UTF-16, however the data was corrupted.

In [4]:
import pandas as pd
import numpy as np

In [30]:
# df = pd.read_csv("exped_tidy_UTF-8.csv", on_bad_lines='skip')
df = pd.read_csv("exped_tidy_UTF-8.csv")
print(df['SMTDAYS'].head(10))

row = df.iloc[1]
print(row)

df['SMTDAYS'] = pd.to_numeric(df['SMTDAYS'], errors='coerce')

df_clean = df[(~df['SMTDAYS'].isna()) & (df['SMTDAYS']!=0)]

EXPID            EVER20102,EVER,2020,1,Spring,2,China,N Col-NE ...
PEAKID                                                         NaN
YEAR                                                           NaN
SEASON                                                         NaN
SEASON_FACTOR                                                  NaN
                                       ...
PRIMRTE                                                        NaN
PRIMMEM                                                        NaN
PRIMREF                                                        NaN
PRIMID                                                         NaN
CHKSUM;                                                        NaN
Name: 1, Length: 69, dtype: object

In [22]:
df_clean
print(df['SMTDAYS'].unique())

[nan  0.]

In [23]:
filtered = df.loc[(~df['SMTDAYS'].isna()) & (df['SMTDAYS'] != 0), 'SMTDAYS']
print(filtered)

Series([], Name: SMTDAYS, dtype: float64)

In [24]:
print(df_clean[['SMTDAYS']])

Empty DataFrame
Columns: [SMTDAYS]
Index: []

In [25]:
print(df['SMTDAYS'].isna().sum())      # Number of NaN after conversion
print((df['SMTDAYS'] == 0).sum())     # Number of zeros after conversion

826
52

In [17]:
# Show first 10 original values from SMTDAYS before conversion
print(df['SMTDAYS'].head(10))

# Show the same 10 values after conversion
df['SMTDAYS_num'] = pd.to_numeric(df['SMTDAYS'], errors='coerce')
print(df['SMTDAYS_num'].head(10))

# Show unique values before and after conversion
print(df['SMTDAYS'].unique())
print(df['SMTDAYS_num'].unique())

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    0.0
9    NaN
Name: SMTDAYS, dtype: float64
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    0.0
9    NaN
Name: SMTDAYS_num, dtype: float64
[nan  0.]
[nan  0.]

In [28]:
print(df['SMTDAYS'].head(10))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    0.0
9    NaN
Name: SMTDAYS, dtype: float64

In [29]:
print(df['SMTDAYS'].head(10))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    0.0
9    NaN
Name: SMTDAYS, dtype: float64

In [35]:
import pandas as pd
import numpy as np
df = pd.read_csv("exped_tidy_UTF-8.csv", on_bad_lines='skip')
print(df['SMTDAYS'].head(10))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8      0
9    NaN
Name: SMTDAYS, dtype: object

In [37]:
import pandas as pd

# Read CSV, skip problematic lines
df = pd.read_csv("exped_tidy_UTF-8.csv", on_bad_lines='skip')

# Keep only rows where SMTDAYS is entirely numeric and not zero
mask = df['SMTDAYS'].astype(str).str.isdigit() & (df['SMTDAYS'] != '0')
usable_df = df[mask].copy()

# Optionally convert SMTDAYS to integer type
usable_df['SMTDAYS'] = usable_df['SMTDAYS'].astype(int)

print(usable_df['SMTDAYS'])

Series([], Name: SMTDAYS, dtype: int64)

In [38]:
import pandas as pd

df = pd.read_csv("exped_tidy_UTF-8.csv", on_bad_lines='skip')

# Strip whitespace, check if string is digit, and not zero
mask = df['SMTDAYS'].astype(str).str.strip().str.isdigit() & (df['SMTDAYS'].astype(str).str.strip() != '0')

usable_df = df[mask].copy()
usable_df['SMTDAYS'] = usable_df['SMTDAYS'].astype(int)

print(usable_df['SMTDAYS'])

Series([], Name: SMTDAYS, dtype: int64)

In [ ]:
print(df['SMTDAYS'])

In [39]:
import pandas as pd

# Read only the first 10 rows for testing
df = pd.read_csv("exped_tidy_UTF-8.csv", nrows=10)

# Remove leading/trailing whitespace and isolate numeric entries, excluding zero
df['SMTDAYS_clean'] = df['SMTDAYS'].astype(str).str.strip()
mask = df['SMTDAYS_clean'].str.isdigit() & (df['SMTDAYS_clean'] != '0')

usable_subset = df[mask].copy()
usable_subset['SMTDAYS_clean'] = usable_subset['SMTDAYS_clean'].astype(int)

print(usable_subset['SMTDAYS_clean'])

Series([], Name: SMTDAYS_clean, dtype: int64)

In [40]:
import pandas as pd

df = pd.read_csv("exped_tidy_UTF-8.csv", nrows=10)
print(df['SMTDAYS'])

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    0.0
9    NaN
Name: SMTDAYS, dtype: float64

In [41]:
import pandas as pd

df = pd.read_csv("exped_tidy_UTF-8.csv", on_bad_lines='skip')

# Clean whitespace and ensure you select only full numbers, not times (e.g., ignore 1300, 0615)
df['SMTDAYS_clean'] = df['SMTDAYS'].astype(str).str.strip()
# Use .isdigit() and length <= 2 to get only 1- or 2-digit valid days (adjust as needed)
mask = df['SMTDAYS_clean'].str.isdigit() & (df['SMTDAYS_clean'] != '0') & (df['SMTDAYS_clean'].str.len() <= 2)
usable_days = df.loc[mask, 'SMTDAYS_clean'].astype(int)

print(usable_days)

Series([], Name: SMTDAYS_clean, dtype: int64)

In [44]:
import pandas as pd

df = pd.read_csv("exped_tidy_UTF-8.csv", on_bad_lines='skip')

# Print the value in the SMTDAYS column of the third row (index 2)
print(df.loc[2, 'SMTDAYS'])

nan

In [45]:
import pandas as pd

df = pd.read_csv("exped_tidy_UTF-8.csv", on_bad_lines='skip')
print(df['SMTDAYS'].head(15))

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8       0
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
Name: SMTDAYS, dtype: object

In [46]:
df_raw = pd.read_csv("exped_tidy_UTF-8.csv", on_bad_lines='skip', header=None)
print(df_raw.head(15))

                                                   0       1     2       3   \
0                                               EXPID  PEAKID  YEAR  SEASON
1   EVER20101,EVER,2020,1,Spring,2,China,N Col-NE ...     NaN   NaN     NaN
2   EVER20102,EVER,2020,1,Spring,2,China,N Col-NE ...     NaN   NaN     NaN
3   EVER20103,EVER,2020,1,Spring,2,China,N Col-NE ...     NaN   NaN     NaN
4   AMAD20301,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,...     NaN   NaN     NaN
5   AMAD20302,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,...     NaN   NaN     NaN
6   AMAD20303,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,...     NaN   NaN     NaN
7   AMAD20304,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,...     NaN   NaN     NaN
8   AMAD20305,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,...     NaN   NaN     NaN
9                                           AMAD20306    AMAD  2020       3
10  AMAD20307,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,...     NaN   NaN     NaN
11  AMAD20401,AMAD,2020,4,Winter,1,Nepal,SW Ridge,...     NaN   NaN     NaN
12  BARU20301,BARU,2020,3,Autumn,1,Nepal,SE Ridge,...     NaN   NaN     NaN
13  CHOY20301,CHOY,2020,3,Autumn,2,China,NW side,N...     NaN   NaN     NaN
14  GYLZ20301,GYLZ,2020,3,Autumn,1,Nepal,SSE Face ...     NaN   NaN     NaN

               4     5            6         7       8       9   ...  \
0   SEASON_FACTOR  HOST  HOST_FACTOR    ROUTE1  ROUTE2  ROUTE3  ...
1             NaN   NaN          NaN       NaN     NaN     NaN  ...
2             NaN   NaN          NaN       NaN     NaN     NaN  ...
3             NaN   NaN          NaN       NaN     NaN     NaN  ...
4             NaN   NaN          NaN       NaN     NaN     NaN  ...
5             NaN   NaN          NaN       NaN     NaN     NaN  ...
6             NaN   NaN          NaN       NaN     NaN     NaN  ...
7             NaN   NaN          NaN       NaN     NaN     NaN  ...
8             NaN   NaN          NaN       NaN     NaN     NaN  ...
9          Autumn     1        Nepal  SW Ridge     NaN     NaN  ...
10            NaN   NaN          NaN       NaN     NaN     NaN  ...
11            NaN   NaN          NaN       NaN     NaN     NaN  ...
12            NaN   NaN          NaN       NaN     NaN     NaN  ...
13            NaN   NaN          NaN       NaN     NaN     NaN  ...
14            NaN   NaN          NaN       NaN     NaN     NaN  ...

           59          60                      61      62      63       64  \
0   ACCIDENTS  ACHIEVMENT                  AGENCY  COMRTE  STDRTE  PRIMRTE
1         NaN         NaN                     NaN     NaN     NaN      NaN
2         NaN         NaN                     NaN     NaN     NaN      NaN
3         NaN         NaN                     NaN     NaN     NaN      NaN
4         NaN         NaN                     NaN     NaN     NaN      NaN
5         NaN         NaN                     NaN     NaN     NaN      NaN
6         NaN         NaN                     NaN     NaN     NaN      NaN
7         NaN         NaN                     NaN     NaN     NaN      NaN
8         NaN         NaN                     NaN     NaN     NaN      NaN
9         NaN         NaN  Ever Quest Expeditions    TRUE   FALSE    FALSE
10        NaN         NaN                     NaN     NaN     NaN      NaN
11        NaN         NaN                     NaN     NaN     NaN      NaN
12        NaN         NaN                     NaN     NaN     NaN      NaN
13        NaN         NaN                     NaN     NaN     NaN      NaN
14        NaN         NaN                     NaN     NaN     NaN      NaN

         65       66      67       68
0   PRIMMEM  PRIMREF  PRIMID  CHKSUM;
1       NaN      NaN     NaN      NaN
2       NaN      NaN     NaN      NaN
3       NaN      NaN     NaN      NaN
4       NaN      NaN     NaN      NaN
5       NaN      NaN     NaN      NaN
6       NaN      NaN     NaN      NaN
7       NaN      NaN     NaN      NaN
8       NaN      NaN     NaN      NaN
9     FALSE    FALSE     NaN    4135;
10      NaN      NaN     NaN      NaN
11      NaN      NaN     NaN      NaN
12      NaN      NaN     NaN      NaN
13      NaN      NaN     NaN      NaN
14      NaN      NaN     NaN      NaN

[15 rows x 69 columns]

In [47]:
import csv

with open("exped_tidy_UTF-8.csv", "r", encoding="utf-8") as f:
    reader = csv.reader(f)
    header = next(reader)
    if "SMTDAYS" in header:
        smtdays_idx = header.index("SMTDAYS")
    else:
        print("SMTDAYS not found in header!")
        smtdays_idx = None

    for i, row in enumerate(reader):
        # print as many rows as needed to confirm correct access
        if smtdays_idx is not None and len(row) > smtdays_idx:
            print(f"Row {i+2} SMTDAYS:", row[smtdays_idx])
        else:
            print(f"Row {i+2} is malformed:", row)
        if i > 20:
            break

Row 2 is malformed: ['EVER20101,EVER,2020,1,Spring,2,China,N Col-NE Ridge,NA,NA,NA,China,Tibetan Rope-Fixing,Tibetan Rope-Fixing Everest North 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,Lhasa->Tingri->Everest BC,NA,2020-05-26,1515,0,0,NA,1,Success (main peak),NA,8849,FALSE,FALSE,FALSE,3,0,0,0,0,6,6,0,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,NA,"BC,ABC,C1,C2,C3,Smt(26/05)",NA,NA,NA,Holy Mountain Adventure,TRUE,TRUE,FALSE,FALSE,FALSE,NA,2465291;']
Row 3 is malformed: ['EVER20102,EVER,2020,1,Spring,2,China,N Col-NE Ridge,NA,NA,NA,China,Ci Luo (Tselo),Chinese Mount Everest Survey Team,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,NA,NA,2020-05-27,0945,0,0,NA,1,Success (main peak),NA,8849,FALSE,FALSE,FALSE,3,0,12,8,0,0,0,0,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,NA,"BC,ABC,C1,C2,C3,Smt(27/05)",221011,NA,NA,NA,TRUE,TRUE,FALSE,FALSE,FALSE,NA,2465292;']
Row 4 is malformed: ['EVER20103,EVER,2020,1,Spring,2,China,N Col-NE Ridge,NA,NA,NA,China,Tsering Samdrup,Holy Mountain Adventure Everest Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,Lhasa->Tingri->Everest BC,2020-04-23,2020-05-28,0545,35,38,2020-05-31,1,Success (main peak),NA,8849,FALSE,FALSE,FALSE,3,0,20,14,0,22,21,0,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,NA,"BC(23/04,5200m),IC(26/04,5800m),ABC(05/01,6500m),C1(25/05,7028m),C2(26/05,7790m),C3(27/05,8300m),Smt(28/05)",203869,NA,NA,Holy Mountain Adventure,TRUE,TRUE,FALSE,FALSE,FALSE,NA,2465293;']
Row 5 is malformed: ['AMAD20301,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,NA,NA,NA,Nepal,Chhang Dawa Sherpa,Seven Summit Treks Ama Dablam Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,"Canada, Czech Republic, France, Poland, Russia, Switzerland, Ukraine, USA",NA,2020-11-09,2020-11-10,1300,1,0,NA,1,Success (main peak),NA,6814,FALSE,FALSE,FALSE,2,0,14,9,0,19,14,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(09/11,4450m),C1(5600m),C2(5900m),Smt(10,12-13,15/11)",NA,NA,NA,Seven Summit Treks,TRUE,FALSE,FALSE,FALSE,FALSE,NA,2463299;']
Row 6 is malformed: ['AMAD20302,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,NA,NA,NA,USA,Garrett Madison,Madison Mountaineering Ama Dablam Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,"Canada, Qatar",Lukla->Pangboche->Ama Dablam BC,2020-11-01,2020-11-10,1300,9,11,2020-11-12,1,Success (main peak),NA,6814,FALSE,FALSE,FALSE,2,0,6,6,0,8,8,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(01/11,4700m),C1(04/11,5600m),C2(10/11,6000m),Smt(10-11/11)",29755,NA,NA,Himalayan Guides,TRUE,FALSE,FALSE,FALSE,FALSE,NA,2463299;']
Row 7 is malformed: ['AMAD20303,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,NA,NA,NA,UK,Jon Gupta,Himalayan Guides Ama Dablam Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,Lukla->Namche->Dingboche->Chhukung Ri->Pangboche->Ama Dablam BC,2020-11-15,2020-12-01,1243,16,17,2020-12-02,1,Success (main peak),NA,6814,FALSE,FALSE,FALSE,2,0,2,2,0,1,1,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(15/11,4400m),ABC(17/11,5350m),C1(18/11,5800m),C2(26/11,6000m),Smt(01/12)",107752,NA,NA,Himalayan Guides,TRUE,FALSE,FALSE,FALSE,FALSE,NA,2463320;']
Row 8 is malformed: ['AMAD20304,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,NA,NA,NA,UK,"Kenton Cool, Tim Mosedale",Himalayan Guides Ama Dablam Expedition 2020,FALSE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,Lukla->Namche->Dingboche->Chhukung Ri->Pangboche->Ama Dablam BC,2020-11-16,2020-11-27,NA,11,13,2020-11-29,4,"Bad weather (storms, high winds)",Abandoned at 6650m due to high winds,6650,FALSE,FALSE,FALSE,2,0,4,0,0,2,0,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(16/11,4500m),ABC(17/11/5400m),C1(19/12,5700m),C2(26/11,6000m),xxx(27/11,6650m)",29661,NA,NA,Himalayan Guides,TRUE,FALSE,FALSE,FALSE,FALSE,NA,2463316;']
Row 9 is malformed: ['AMAD20305,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,NA,NA,NA,Italy,Manuel Villani,Furtenbach Adventures Ama Dablam Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,Lukla->Pangboche->Ama Dablam BC,2020-11-26,2020-11-29,0930,3,4,2020-11-30,1,Success (main peak),NA,6814,FALSE,FALSE,FALSE,2,0,1,1,0,1,1,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(26/11,4567m),C1(27/11,5700m),C2(28/11,5900m),Smt(29/11)",17154,NA,NA,Iceland Trekking,TRUE,FALSE,FALSE,FALSE,FALSE,NA,2463318;']
Row 10 SMTDAYS: 0
Row 11 is malformed: ['AMAD20307,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,NA,NA,NA,India,Debasish Biswas,Seven Summit Treks Ama Dablam Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,"Austria, UK",Lukla->Pangboche->Ama Dablam BC,2020-11-20,2020-11-30,0615,10,0,NA,1,Success (main peak),NA,6814,FALSE,FALSE,FALSE,2,0,6,1,0,6,3,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(20/11,4450m),C1(5600m),C2(28/11,5900m),Smt(30/11)",69150,NA,NA,Seven Summit Treks,TRUE,FALSE,FALSE,FALSE,FALSE,NA,2463318;']
Row 12 is malformed: ['AMAD20401,AMAD,2020,4,Winter,1,Nepal,SW Ridge,NA,NA,NA,Nepal,Tashi Lakpa Sherpa,Seven Summit Treks Ama Dablam Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,"Egypt, India, Mexico, Oman, Qatar, Turkey",NA,2020-12-27,2021-01-09,1410,13,0,NA,1,Success (main peak),NA,6814,FALSE,FALSE,FALSE,2,0,7,7,0,14,12,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(27/12,4450m),C1(5600m),C2(5900m),Smt(09,14/01)",7722,NA,1st Arabic woman to summit Ama Dablam,Seven Summit Treks,TRUE,FALSE,FALSE,FALSE,FALSE,NA,2463359;']
Row 13 is malformed: ['BARU20301,BARU,2020,3,Autumn,1,Nepal,SE Ridge,NA,NA,NA,Nepal,Dawa Steven Sherpa,Nepal Tourism Recovery Baruntse Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,NA,NA,2020-10-15,1215,0,0,NA,1,Success (main peak),NA,7152,FALSE,FALSE,FALSE,2,0,7,7,0,0,0,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC,C1,C2,Smt(15/10)",68764,NA,NA,Asian Trekking,FALSE,FALSE,FALSE,FALSE,FALSE,NA,2463723;']
Row 14 is malformed: ['CHOY20301,CHOY,2020,3,Autumn,2,China,NW side,NA,NA,NA,China,Tsering Samdrup,Holy Mountain Adventure Cho Oyu Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,From Lhasa,2020-09-13,2020-09-29,1045,16,0,NA,1,Success (main peak),NA,8188,FALSE,FALSE,FALSE,2,0,20,19,0,24,24,0,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(13/09),ABC(5700m),C1(6450m),C2(29/09,7100m),Smt(29-30/09)",220925,NA,NA,Holy Mountain Adventure,TRUE,TRUE,FALSE,FALSE,FALSE,NA,2464202;']
Row 15 is malformed: ['GYLZ20301,GYLZ,2020,3,Autumn,1,Nepal,SSE Face from SW,NA,NA,NA,Nepal,Sharmila Lama Tamang,Jugal Expedition 2020,TRUE,FALSE,FALSE,FALSE,2nd,NA,NA,NA,FALSE,FALSE,NA,NA,2020-10-17,2020-10-19,NA,2,0,NA,1,Success (main peak),NA,6151,FALSE,FALSE,FALSE,1,0,3,2,0,3,3,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(17/10),C1(18/10),Smt(19/10)",29593,NA,NA,Soul Himalaya,FALSE,FALSE,FALSE,FALSE,FALSE,NA,2461207;']
Row 16 is malformed: ['HIML20301,HIML,2020,3,Autumn,1,Nepal,W Ridge,NA,NA,NA,Nepal,Pasang Tendi Sherpa,TAGnepal Himlung Expedition 2020,FALSE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,"Italy, Jordan, UAE, UK",NA,2020-11-03,2020-11-17,NA,14,0,NA,4,"Bad weather (storms, high winds)",Abandoned at C3 due to bad weather,6400,FALSE,FALSE,FALSE,3,0,5,0,0,0,0,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(03/11,5200m),C1,C2,C3(17/11,6400m),xxx",NA,NA,NA,TAGnepal Trekking,FALSE,FALSE,FALSE,FALSE,FALSE,NA,2461326;']
Row 17 is malformed: ['HIML20302,HIML,2020,3,Autumn,1,Nepal,W Ridge,NA,NA,NA,Romania,Marius-Sebastian Purice,High Himalayan Romanian Himlung Himal Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,Koto->Phu->BC,2020-11-15,2020-11-29,1326,14,16,2020-12-01,1,Success (main peak),NA,7126,FALSE,FALSE,FALSE,2,0,1,1,0,4,4,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(15/11,4900m),C1(19/11,5400m),C2(21/11,6100m),Smt(29/11)",11450,NA,NA,High Himalayan Climbing,FALSE,FALSE,FALSE,FALSE,FALSE,NA,2461338;']
Row 18 is malformed: ['KYR220401,KYR2,2020,4,Winter,1,Nepal,SW Face-SE Ridge,NA,NA,NA,Switzerland,Sophie Lavaud,Seven Summit Treks Kyungka Ri 2 Expedition 2020,TRUE,FALSE,FALSE,FALSE,1st,NA,NA,NA,FALSE,FALSE,NA,NA,NA,2020-12-11,1040,0,0,NA,1,Success (main peak),NA,6506,FALSE,FALSE,FALSE,2,0,1,1,0,3,3,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC,C1(09/12,5309m),C2(10/12,5630m),Smt(11/12)",13113,NA,NA,Seven Summit Treks,FALSE,FALSE,FALSE,FALSE,FALSE,NA,2461620;']
Row 19 is malformed: ['LUZA20401,LUZA,2020,4,Winter,1,Nepal,NE Face,SE Face,NA,NA,Nepal,Pemba Sherpa,"Luza 5726m, First Ascent Expedition 2020",FALSE,TRUE,FALSE,FALSE,1st,NA,NA,NA,FALSE,FALSE,NA,NA,NA,2020-12-17,1215,0,0,NA,1,Success (main peak),NA,5710,FALSE,FALSE,FALSE,0,0,3,3,0,0,0,0,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,Smt(17/12),2195,NA,NA,Xtreme Climbers,FALSE,FALSE,FALSE,FALSE,FALSE,NA,2461896;']
Row 20 is malformed: ['MANA20301,MANA,2020,3,Autumn,1,Nepal,NE Face,NA,NA,NA,Bahrain,"Mohamed Hamed Mohamed Al Khalifa, Christopher Burrows",Bahrain Royal Guard Manaslu Expedition 2020,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,UK,NA,2020-10-08,2020-10-15,0630,7,0,NA,1,Success (main peak),NA,8163,FALSE,FALSE,FALSE,3,0,18,13,0,52,43,0,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,Climbed Lobuche for acclimatization on 3 Oct,"BC(08/10),C1,C2,C3(14/10),Smt(15/10)",12965,NA,NA,Seven Summit Treks,TRUE,TRUE,FALSE,FALSE,FALSE,NA,2462238;']
Row 21 is malformed: ['MANA20401,MANA,2020,4,Winter,1,Nepal,NE Face,NA,NA,NA,Italy,Simone Moro,Italian-Spanish Manaslu Winter Expedition 2020-2021,FALSE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,Spain,Samagaon by helicopter,2021-01-10,NA,NA,0,0,NA,5,"Bad conditions (deep snow, avalanching, falling ice, or rock)",Abandoned at 7050m due to deep snow and dangerous conditions,7050,FALSE,FALSE,FALSE,2,0,3,0,0,4,0,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC(10/01,4800m),C1(5700m),C2(6550m),xxx(7050m)",NA,NA,NA,Seven Summit Treks,TRUE,TRUE,FALSE,FALSE,FALSE,NA,3100;']
Row 22 is malformed: ['MANA20402,MANA,2020,4,Winter,1,Nepal,NE Face,NA,NA,NA,Nepal,Vinayak Jaya Malla,Nepalese Manaslu Winter Expedition 2020-2021,FALSE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,NA,NA,NA,NA,NA,0,0,NA,5,"Bad conditions (deep snow, avalanching, falling ice, or rock)",Abandoned due to deep snow and dangerous conditions,6550,FALSE,FALSE,FALSE,2,0,2,0,0,0,0,0,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,"BC,C1,C2,xxx(6550m)",NA,NA,NA,Seven Summit Treks,TRUE,TRUE,FALSE,FALSE,FALSE,NA,3100;']
Row 23 is malformed: ['AMAD21101,AMAD,2021,1,Spring,1,Nepal,SW Ridge,NA,NA,NA,Italy,Giampaolo Corona,Seven Summit Treks International Ama Dablam Expedition 2021,TRUE,FALSE,FALSE,FALSE,NA,NA,NA,NA,FALSE,FALSE,"Ecuador, Finland, Germany, India, Iraq, Israel, Jordan, Kenya, Kyrgyz Republic, Nepal, Norway, Romania, Russia",NA,NA,2021-04-28,1145,0,0,NA,1,Success (main peak),NA,6814,FALSE,FALSE,FALSE,2,0,16,8,0,4,1,0,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NA,Smt(28-30/04),207515,NA,NA,Seven Summit Treks,TRUE,FALSE,FALSE,FALSE,FALSE,NA,2464594;']

In [1]:
import pandas as pd

df = pd.read_csv('exped_tidy.csv', encoding='latin1')  # or 'windows-1252', etc.
df.to_csv('exped_tidy_utf8.csv', index=False, encoding='utf-8')

FileNotFoundError: [Errno 2] No such file or directory: 'exped_tidy.csv'